* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --body-color: #162138;
  --white: #ffffff;
  --gray: #7b7b7b;
  --light-blue: #2a489e;
  --button-hover: #6366f1;
  --main-font: "Play", sans-serif;
  --sub-font: "Inter", sans-serif;
}

::selection {
  color: var(--button-hover);
  background-color: white;
}

body {
  background-color: var(--body-color);
  overflow-x: hidden;
}

html {
  font-size: 16px;
}

body a {
  text-decoration: none;
}

.hamburger-container {
  /* border: 1px solid #f00; */
  background-color: #00000098;
  height: 100dvh;
  width: 100%;
  position: fixed;
  top: 0;
  right: -100%;
  backdrop-filter: blur(20px);
  z-index: 10;
  transition: 0.5s;

  display: flex;
  align-items: center;
  justify-content: center;
}

.hamburger-container i {
  /* border: 1px solid #fff; */
  font-size: 2rem;
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 5px;
  cursor: pointer;

  color: var(--white);
  transition: 0.5s;
}

.hamburger-container i:hover {
  color: red;
}

.hamburger-container ul {
  /* border: 1px solid #fff; */
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.hamburger-container ul a li {
  /* border: 1px solid #fff; */
  list-style: none;
  color: var(--white);
  font-family: var(--main-font);
  font-size: 2rem;
  padding: 6px;
  position: relative;
  transition: 0.9s;
  overflow: hidden;
}

.hamburger-container ul a li::after {
  content: "";
  background-color: var(--button-hover);
  position: absolute;
  top: 0;
  left: 100%;
  height: 2px;
  width: 100%;
  transition: 0.5s;
}

.hamburger-container ul a li:hover:after {
  content: "";
  background-color: var(--button-hover);
  position: absolute;
  top: 0;
  left: 0;
  height: 2px;
  width: 100%;
}

.hamburger-container ul a li::before {
  content: "";
  background-color: var(--button-hover);
  position: absolute;
  bottom: 0;
  right: 100%;
  height: 2px;
  width: 100%;
  transition: 0.5s;
}

.hamburger-container ul a li:hover:before {
  content: "";
  background-color: var(--button-hover);
  position: absolute;
  bottom: 0;
  right: 0%;
  height: 2px;
  width: 100%;
}

.hamburger-container ul a li:hover {
  color: var(--button-hover);
}

.button {
  display: inline-flex;
  padding: 0.625rem 1.875rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  background-color: var(--light-blue);
  color: var(--white);
  border-radius: 5px;
  font-family: var(--main-font);
  transition: 0.6s;
}

.button:hover {
  background-color: var(--button-hover);
}

.social {
  /* border: 1px solid #000; */
  font-size: 1.1875rem;
  color: var(--white);
  background-color: var(--light-blue);
  border-radius: 0.625rem;
  width: 3.125rem;
  height: 3.125rem;
  transition: 0.5s;
  cursor: pointer;
  margin: 0.56rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.social:hover {
  background-color: var(--button-hover);
  transform: scale(1.2);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

/*************************************************************************************************
About us Section start 
**************************************************************************************************/
#about-us {
  /* border: 1px solid #fff; */
  width: 100%;
  min-height: 100dvh;
}

#about-us > h1 {
  /* border: 1px solid #fff; */
  text-align: center;
  font-size: 3rem;
  color: var(--white);
  font-family: var(--main-font);
}

#about-us > h3 {
  /* border: 1px solid #fff; */
  text-align: center;
  font-size: 1.5rem;
  color: var(--white);
  font-family: var(--sub-font);
  font-weight: 500;
}

nav {
  /* border: 1px solid #f00; */
  width: 100%;
  height: 100px;

  display: flex;
  align-items: center;
  justify-content: center;
}

nav .left-div {
  /* border: 1px solid #fff; */
  width: 50%;
  height: 100%;
  padding: 30px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

nav .left-div .logo {
  /* border: 1px solid #f00; */
  width: 3.75rem;
}

nav .left-div h1 {
  /* border: 1px solid #fff; */
  color: var(--white);
  font-size: 1.563rem;
  font-family: "Play", sans-serif;
  padding-left: 7px;
}

nav .right-div {
  /* border: 1px solid #fff; */
  width: 50%;
  height: 100%;
  padding: 30px;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

nav .right-div .fa-bars-staggered {
  /* border: 1px solid #fff; */
  color: var(--white);
  font-size: 3.01119rem;
  cursor: pointer;
  transition: 0.5s;
}

nav .right-div .fa-bars-staggered:hover {
  color: var(--button-hover);
}

#about-us ul {
  /* border: 1px solid #fff; */
  width: 100%;
  min-height: 200dvh;
  position: relative;
  padding: 30px 0px;
  list-style: none;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#about-us ul::before {
  content: "";
  background-color: var(--gray);
  width: 2px;
  height: 90%;
  position: absolute;
  top: auto;
  left: 50%;
  z-index: -1;
}

#about-us ul li {
  /* border: 1px solid #f00; */
  width: 100%;
  height: 270px;

  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px 0px;
}

#about-us ul li .about-txt-left-div {
  /* border: 1px solid #fff; */
  width: 40vw;
  height: 100%;
  padding: 0px 40px;
  color: var(--white);
  text-align: right;

  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
}

#about-us ul li .about-txt-left-div h1 {
  font-family: var(--main-font);
}

#about-us ul li .about-txt-left-div h3 {
  font-family: var(--main-font);
}

#about-us ul li .about-txt-left-div p {
  font-family: var(--sub-font);
  font-weight: 200;
}

#about-us ul li .about-img-div {
  /* border: 1px solid #fff; */
  width: 20vw;
  height: 100%;
  border: 7px solid var(--gray);
  border-radius: 100%;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
}

#about-us ul li .about-img-div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#about-us ul li .about-txt-right-div {
  /* border: 1px solid #fff; */
  width: 40vw;
  height: 100%;
  padding: 0px 40px;
  color: var(--white);
  text-align: left;

  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

#about-us ul li .about-txt-right-div h1 {
  font-family: var(--main-font);
}

#about-us ul li .about-txt-right-div h3 {
  font-family: var(--main-font);
}

#about-us ul li .about-txt-right-div p {
  font-family: var(--sub-font);
  font-weight: 200;
}

/*************************************************************************************************
About us Section end
**************************************************************************************************/
