* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --body-color: #162138;
  --white: #ffffff;
  --gray: #7b7b7b;
  --light-blue: #2a489e;
  --button-hover: #6366f1;
  --main-font: "Play", sans-serif;
  --sub-font: "Inter", sans-serif;
}

body {
  background-color: var(--body-color);
}

body a {
  text-decoration: none;
}

.button {
  display: inline-flex;
  padding: 0.625rem 1.875rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  background-color: var(--light-blue);
  color: var(--white);
  border-radius: 5px;
  font-family: "Play", sans-serif;
  transition: 0.6s;
}

.button:hover {
  background-color: var(--button-hover);
}

.social {
  /* border: 1px solid #000; */
  font-size: 1.1875rem;
  color: var(--white);
  background-color: var(--light-blue);
  border-radius: 0.625rem;
  width: 3.125rem;
  height: 3.125rem;
  transition: 0.5s;
  cursor: pointer;
  margin: 0.56rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.social:hover {
  background-color: var(--button-hover);
  transform: scale(1.2);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

/*************************************************************************************************
Hero Section start 
**************************************************************************************************/

#hero {
  /* border: 1px solid #f00; */
  width: 100%;
  max-height: 100dvh;
  overflow: hidden;
  position: relative;
}

#hero .slider-img,
#hero .slider-1img {
  /* border: 1px solid #f00; */
  height: 100vh;
  width: 100%;
  object-fit: cover;
}

.animation {
  animation-name: fadeInOut;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-iteration-count: 1;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

nav {
  /* border: 1px solid #f00; */
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

nav .left-div {
  /* border: 1px solid #fff; */
  width: 50%;
  height: 100%;
  padding: 30px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

nav .left-div .logo {
  /* border: 1px solid #f00; */
  width: 3.75rem;
}

nav .left-div h1 {
  /* border: 1px solid #fff; */
  color: var(--white);
  font-size: 1.563rem;
  font-family: "Play", sans-serif;
  padding-left: 7px;
}

nav .right-div {
  /* border: 1px solid #fff; */
  width: 50%;
  height: 100%;
  padding: 30px;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

nav .right-div .fa-bars-staggered {
  /* border: 1px solid #fff; */
  color: var(--white);
  font-size: 3.01119rem;
}

.header-txt {
  /* border: 1px solid #000; */
  color: var(--white);
  position: absolute;
  top: 10.94rem;
  left: 30px;
}

.header-txt h1 {
  font-family: "Play", sans-serif;
  width: 22.687rem;
  font-size: 3.8125rem;
}

.header-txt p {
  font-family: "Inter", sans-serif;
  width: 28.625rem;
  font-size: 0.8rem;
  line-height: 20px;
}

.header-txt a {
  margin-top: 0.5rem;
}

.header-social {
  /* border: 1px solid #fff; */
  position: absolute;
  top: 11.75rem;
  right: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.fa-facebook-messenger {
  position: fixed;
  right: 30px;
  bottom: 1rem;
  z-index: 9;
  /* border: 1px solid #000; */
  font-size: 1.1875rem;
  color: var(--white);
  background-color: #09c6fe;
  border-radius: 0.625rem;
  width: 3.125rem;
  height: 3.125rem;
  transition: 0.5s;
  cursor: pointer;
  margin: 0.56rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-facebook-messenger:hover {
  transform: scale(1.2);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}
/*************************************************************************************************
Hero Section end 
**************************************************************************************************/

/*************************************************************************************************
Message Section start
**************************************************************************************************/

#message {
  width: 100%;
  min-height: 100dvh;
  background-image: url(../images/Message\ background.png);
  background-position: 60%;
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  justify-content: center;
}

#message .txt-div {
  /* border: 1px solid #fff; */
  width: 50%;
  height: 100dvh;
  padding-left: 30px;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

#message .txt-div h1 {
  font-size: 3.125rem;
  font-family: var(--main-font);
  color: var(--white);
}

#message .txt-div h2 {
  font-size: 1.25rem;
  font-family: var(--sub-font);
  color: var(--white);
}

#message .txt-div p {
  font-size: 1.125rem;
  font-family: var(--sub-font);
  font-weight: 300;
  color: var(--white);
  padding-top: 20px;
  width: 33.875rem;
  text-align: justify;
}

#message .img-div {
  /* border: 1px solid #fff; */
  width: 50%;
  height: 100dvh;

  display: flex;
  align-items: center;
  justify-content: center;
}

/*************************************************************************************************
Message Section end 
**************************************************************************************************/

/*************************************************************************************************
Services Section start
**************************************************************************************************/
#services {
  /* border: 1px solid #000; */
  width: 100%;
  min-height: 100dvh;
}

#services h1 {
  /* border: 1px solid #fff; */
  font-size: 3.125rem;
  font-weight: 600;
  font-family: var(--main-font);
  text-align: center;
  color: var(--white);
  padding-bottom: 1.38rem;
}

#services .service-div {
  /* border: 1px solid #fff; */
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

#services .service-div .service {
  /* border: 1px solid #fff; */
  background-color: var(--light-blue);
  width: 25rem;
  height: 15.625rem;
  border-radius: 20px;
  margin-bottom: 1.38rem;
  padding: 0px 40px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  transition: 0.5s;
}

#services .service-div .service:hover {
  background-color: var(--button-hover);
  transform: scale(1.05);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

#services .service-div .service h3 {
  font-size: 2.5rem;
  font-weight: 500;
  font-family: var(--sub-font);
  color: var(--white);
}

#services .service-div .service p {
  font-size: 1.25rem;
  font-weight: 300;
  font-family: var(--sub-font);
  text-align: center;
  color: var(--white);
}

/*************************************************************************************************
Services Section end 
**************************************************************************************************/

/*************************************************************************************************
Latest events Section start
**************************************************************************************************/

#latest-event {
  /* border: 1px solid #fff; */
  width: 100%;
  min-height: 100dvh;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#latest-event h1 {
  /* border: 1px solid #fff; */
  font-size: 3.125rem;
  font-weight: 600;
  text-align: center;
  color: var(--white);
  font-family: var(--main-font);
  margin-bottom: 2.56rem;
}

#latest-event .event-div {
  /* border: 1px solid #fff; */
  width: 100%;
  padding: 0px 30px;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#latest-event .event-div .event {
  /* border: 1px solid #fff; */
  width: 25rem;
  height: 21.875rem;
  border-radius: 1.25rem;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

#latest-event .event-div .event .event-txt-div {
  /* border: 1px solid #f00; */
  height: 6.25rem;
  width: 100%;
  border-radius: 0rem 0rem 1.25rem 1.25rem;
  background-color: var(--light-blue);
  color: var(--white);
  font-family: var(--sub-font);
  text-align: center;
  font-size: 1.575rem;
  font-weight: 400;

  display: flex;
  align-items: center;
  justify-content: center;
}

/*************************************************************************************************
Latest events Section end
**************************************************************************************************/

/*************************************************************************************************
Tenant Section start
**************************************************************************************************/

#tenant {
  /* border: 1px solid #fff; */
  width: 100%;
  min-height: 100dvh;
  position: relative;

  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

#tenant img {
  /* border: 1px solid #fff; */
  width: 100%;

  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

#tenant .tenant-txt-div {
  /* border: 1px solid #fff; */
  position: absolute;
  margin-left: 30px;
  width: 30.875rem;
}

#tenant h1 {
  /* border: 1px solid #fff; */
  font-size: 3.125rem;
  font-weight: 500;
  font-family: var(--sub-font);
  color: var(--white);
  margin-bottom: 1rem;
}

#tenant p {
  /* border: 1px solid #fff; */
  font-size: 1rem;
  font-weight: 200;
  color: var(--white);
  font-family: var(--sub-font);
}

/*************************************************************************************************
Tenant Section end
**************************************************************************************************/
