* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --body-color: #162138;
  --white: #ffffff;
  --gray: #7b7b7b;
  --light-blue: #2a489e;
  --button-hover: #6366f1;
  --main-font: "Play", sans-serif;
  --sub-font: "Inter", sans-serif;
}

::selection {
  color: var(--button-hover);
  background-color: white;
}

body {
  background-color: var(--body-color);
  overflow-x: hidden;
}

html {
  font-size: 16px;
}

body a {
  text-decoration: none;
}

.hamburger-container {
  /* border: 1px solid #f00; */
  background-color: #00000098;
  height: 100dvh;
  width: 100%;
  position: fixed;
  top: 0;
  right: -100%;
  backdrop-filter: blur(20px);
  z-index: 10;
  transition: 0.5s;

  display: flex;
  align-items: center;
  justify-content: center;
}

.hamburger-container i {
  /* border: 1px solid #fff; */
  font-size: 2rem;
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 5px;
  cursor: pointer;

  color: var(--white);
  transition: 0.5s;
}

.hamburger-container i:hover {
  color: red;
}

.hamburger-container ul {
  /* border: 1px solid #fff; */
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.hamburger-container ul a li {
  /* border: 1px solid #fff; */
  list-style: none;
  color: var(--white);
  font-family: var(--main-font);
  font-size: 2rem;
  padding: 6px;
  position: relative;
  transition: 0.9s;
  overflow: hidden;
}

.hamburger-container ul a li::after {
  content: "";
  background-color: var(--button-hover);
  position: absolute;
  top: 0;
  left: 100%;
  height: 2px;
  width: 100%;
  transition: 0.5s;
}

.hamburger-container ul a li:hover:after {
  content: "";
  background-color: var(--button-hover);
  position: absolute;
  top: 0;
  left: 0;
  height: 2px;
  width: 100%;
}

.hamburger-container ul a li::before {
  content: "";
  background-color: var(--button-hover);
  position: absolute;
  bottom: 0;
  right: 100%;
  height: 2px;
  width: 100%;
  transition: 0.5s;
}

.hamburger-container ul a li:hover:before {
  content: "";
  background-color: var(--button-hover);
  position: absolute;
  bottom: 0;
  right: 0%;
  height: 2px;
  width: 100%;
}

.hamburger-container ul a li:hover {
  color: var(--button-hover);
}

.button {
  display: inline-flex;
  padding: 0.625rem 1.875rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  background-color: var(--light-blue);
  color: var(--white);
  border-radius: 5px;
  font-family: var(--main-font);
  transition: 0.6s;
}

.button:hover {
  background-color: var(--button-hover);
}

.social {
  /* border: 1px solid #000; */
  font-size: 1.1875rem;
  color: var(--white);
  background-color: var(--light-blue);
  border-radius: 0.625rem;
  width: 3.125rem;
  height: 3.125rem;
  transition: 0.5s;
  cursor: pointer;
  margin: 0.56rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.social:hover {
  background-color: var(--button-hover);
  transform: scale(1.2);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}
#hero-small {
  display: none;
}
/*************************************************************************************************
Hero Section start 
**************************************************************************************************/

#hero {
  /* border: 1px solid #fff; */
  width: 100%;
  max-height: 100dvh;
  position: relative;
  overflow: hidden;
}

#hero .slider-img,
#hero .slider-1img {
  /* border: 1px solid #f00; */
  height: 100vh;
  width: 100%;
  object-fit: cover;
}

.animation {
  animation-name: fadeInOut;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-iteration-count: 1;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

nav {
  /* border: 1px solid #f00; */
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

nav .left-div {
  /* border: 1px solid #fff; */
  width: 50%;
  height: 100%;
  padding: 30px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

nav .left-div .logo {
  /* border: 1px solid #f00; */
  width: 3.75rem;
}

nav .left-div h1 {
  /* border: 1px solid #fff; */
  color: var(--white);
  font-size: 1.563rem;
  font-family: "Play", sans-serif;
  padding-left: 7px;
}

nav .right-div {
  /* border: 1px solid #fff; */
  width: 50%;
  height: 100%;
  padding: 30px;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

nav .right-div .fa-bars-staggered {
  /* border: 1px solid #fff; */
  color: var(--white);
  font-size: 3.01119rem;
  cursor: pointer;
  transition: 0.5s;
}

nav .right-div .fa-bars-staggered:hover {
  color: var(--button-hover);
}

.header-txt {
  /* border: 1px solid #000; */
  color: var(--white);
  position: absolute;
  top: 10.94rem;
  left: 30px;
}

.header-txt h1 {
  font-family: var(--main-font);
  width: 22.687rem;
  font-size: 3.8125rem;
}

.header-txt p {
  font-family: var(--sub-font);
  width: 28.625rem;
  font-size: 0.8rem;
  font-weight: 200;
  line-height: 20px;
}

.header-txt a {
  margin-top: 0.5rem;
}

.header-social {
  /* border: 1px solid #fff; */
  position: absolute;
  top: 11.75rem;
  right: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.fa-arrow-up {
  /* border: 1px solid #000; */
  position: fixed;
  z-index: 9;
  right: 30px;
  bottom: 5rem;
}
/*************************************************************************************************
Hero Section end 
**************************************************************************************************/

/*************************************************************************************************
Message Section start
**************************************************************************************************/

#message {
  /* border: 1px solid #fff; */
  width: 100%;
  min-height: 100dvh;
  background-image: url(../images/Message\ background.webp);
  background-position: 60%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

#message .txt-div {
  /* border: 1px solid #fff; */
  width: 50%;
  height: 100%;
  padding-left: 30px;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

#message .txt-div h1 {
  font-size: 3.125rem;
  font-family: var(--main-font);
  color: var(--white);
}

#message .txt-div h2 {
  font-size: 1.25rem;
  font-family: var(--sub-font);
  color: var(--white);
}

#message .txt-div p {
  /* border: 1px solid #fff; */
  font-size: 1.125rem;
  font-family: var(--sub-font);
  font-weight: 100;
  color: var(--white);
  padding-top: 20px;
  width: 33.875rem;
  text-align: justify;
}

#message .img-div {
  /* border: 1px solid #fff; */
  width: 50%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

#message .img-div img {
  /* border: 1px solid #fff; */
  width: 90%;
}

/*************************************************************************************************
Message Section end 
**************************************************************************************************/

/*************************************************************************************************
Services Section start
**************************************************************************************************/
#services {
  /* border: 1px solid #000; */
  width: 100%;
  min-height: 100dvh;
  overflow: hidden;
}

#services h1 {
  /* border: 1px solid #fff; */
  font-size: 3.125rem;
  font-weight: 600;
  font-family: var(--main-font);
  text-align: center;
  color: var(--white);
}

#services .service-div {
  /* border: 1px solid #fff; */
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  overflow: hidden;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

#services .service-div .service {
  /* border: 1px solid #fff; */
  background-color: var(--light-blue);
  width: 25rem;
  height: 15.625rem;
  border-radius: 20px;
  margin-bottom: 1.38rem;
  margin-left: 10px;
  margin-right: 10px;
  padding: 0px 40px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  transition: 0.5s;
}

#services .service-div .service:hover {
  background-color: var(--button-hover);
  transform: scale(1.05);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

#services .service-div .service h3 {
  font-size: 2.5rem;
  font-weight: 500;
  font-family: var(--sub-font);
  color: var(--white);
  text-align: center;
}

#services .service-div .service p {
  font-size: 1.25rem;
  font-weight: 300;
  font-family: var(--sub-font);
  text-align: center;
  color: var(--white);
}

/*************************************************************************************************
Services Section end 
**************************************************************************************************/

/*************************************************************************************************
Latest events Section start
**************************************************************************************************/

#latest-event {
  /* border: 1px solid #fff; */
  width: 100%;
  min-height: 100dvh;
  overflow: hidden;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#latest-event h1 {
  /* border: 1px solid #fff; */
  font-size: 3.125rem;
  font-weight: 600;
  text-align: center;
  color: var(--white);
  font-family: var(--main-font);
  margin-bottom: 2.56rem;
}

#latest-event .event-div {
  /* border: 1px solid #fff; */
  width: 100%;
  padding: 0px 30px;
  overflow: hidden;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

#latest-event .event-div .event {
  /* border: 1px solid #fff; */
  background-color: var(--light-blue);
  width: 25rem;
  height: 21.875rem;
  border-radius: 1.25rem;
  cursor: pointer;
  transition: 0.5s;
  margin: 10px;
  overflow: hidden;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

#latest-event .event-div .event:hover {
  background-color: var(--button-hover);
  transform: scale(1.02);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

#latest-event .event-div .event img {
  width: 100%;
}

#latest-event .event-div .event .event-txt-div {
  /* border: 1px solid #f00; */
  height: 6.25rem;
  width: 100%;
  border-radius: 0rem 0rem 1.25rem 1.25rem;
  color: var(--white);
  font-family: var(--sub-font);
  text-align: center;
  font-size: 1.575rem;
  font-weight: 400;

  display: flex;
  align-items: center;
  justify-content: center;
}

/*************************************************************************************************
Latest events Section end
**************************************************************************************************/

/*************************************************************************************************
Latest events POPUP Section start
**************************************************************************************************/
#event-popup {
  /* border: 1px solid #fff; */
  width: 100;
  min-height: 100dvh;
  padding: 30px;
  position: fixed;
  top: 100%;
  left: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.856);
  backdrop-filter: blur(3px);

  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  transition: 0.3s;
}

#event-popup img {
  width: 40rem;
}

#event-popup h3 {
  font-size: 2.5rem;
  font-family: var(--main-font);
  color: var(--white);
  text-align: center;
  margin: 1rem;
}

#event-popup p {
  font-size: 0.8rem;
  font-family: var(--sub-font);
  color: var(--white);
  text-align: justify;
  font-weight: 200;
  text-align-last: center;
}

#event-popup .fa-xmark {
  /* border: 1px solid #fff; */
  position: absolute;
  top: 20px;
  right: 20px;
  color: var(--white);
  font-size: 2rem;
  padding: 10px;
  transition: 0.6s;
  cursor: pointer;
}

#event-popup .fa-xmark:hover {
  color: red;
}

/*************************************************************************************************
Latest events POPUP Section end
**************************************************************************************************/

/*************************************************************************************************
SpeakUp Section start
**************************************************************************************************/

#speakup {
  /* border: 1px solid #fff; */
  width: 100%;
  min-height: 100dvh;
  overflow: hidden;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

#speakup img {
  width: 100%;
  height: 100%;
}

#speakup .speakup-txt-main-div {
  /* border: 1px solid #f00; */
  position: absolute;
  top: auto;
  left: 30px;
}

#speakup .speakup-txt-main-div h1 {
  /* border: 1px solid #fff; */
  font-size: 5rem;
  color: var(--white);
  font-family: var(--main-font);
}

#speakup .speakup-txt-main-div h3 {
  /* border: 1px solid #fff; */
  font-size: 3rem;
  color: var(--white);
  font-family: var(--main-font);
  margin-left: 30px;
}

#speakup .speakup-txt-main-div ul {
  /* border: 1px solid #fff; */
  font-size: 2rem;
  color: var(--white);
  font-family: var(--sub-font);
  margin-left: 30px;
}

#speakup .speakup-txt-main-div a {
  margin-left: 30px;
  margin-top: 20px;
}
/*************************************************************************************************
SpeakUp Section end
**************************************************************************************************/

/*************************************************************************************************
wcpc complaint Section start
**************************************************************************************************/

#wcpc-complaint {
  /* border: 1px solid #fff; */
  width: 100%;
  min-height: 100dvh;
  overflow: hidden;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

#wcpc-complaint img {
  width: 100%;
  height: 100%;
}

#wcpc-complaint .wcpc-txt-main-div {
  /* border: 1px solid #f00; */
  position: absolute;
  top: auto;
  left: 30px;
}

#wcpc-complaint .wcpc-txt-main-div p {
  /* border: 1px solid #fff; */
  font-size: 1.5rem;
  width: 30rem;
  color: var(--white);
  font-family: var(--sub-font);
}

#wcpc-complaint .wcpc-txt-main-div h1 {
  /* border: 1px solid #fff; */
  font-size: 5rem;
  color: var(--white);
  font-family: var(--main-font);
}

#wcpc-complaint .wcpc-txt-main-div h3 {
  /* border: 1px solid #fff; */
  font-size: 2rem;
  color: var(--white);
  font-family: var(--main-font);
}

#wcpc-complaint .wcpc-txt-main-div a {
  margin-top: 20px;
}
/*************************************************************************************************
wcpc complaint Section end
**************************************************************************************************/

/*************************************************************************************************
Subscribe Section start
**************************************************************************************************/

#subscribe {
  /* border: 1px solid #000; */
  height: 50dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#subscribe::after {
  content: "";
  position: absolute;
  background-color: var(--gray);
  top: 50%;
  left: 2.5%;
  width: 95%;
  height: 2px;
  z-index: -1;
}

#subscribe .subscribe-main-div {
  width: 90%;
  height: 8rem;
  border-radius: 1.875rem;
  background-image: linear-gradient(20deg, #6366f1 9% 9%, #2a489e 91% 50%);

  display: flex;
  align-items: center;
  justify-content: center;
}

#subscribe .subscribe-main-div form {
  /* border: 1px solid #f00; */
  width: 100%;
  height: 100%;
  padding: 60px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

#subscribe .subscribe-main-div input {
  width: 46.5705rem;
  height: 3.5rem;
  border-radius: 0.625rem;
  border: none;
  outline: none;
  font-family: Inter;
  font-size: 1.5rem;
  padding-left: 10px;
}

#subscribe .subscribe-main-div button {
  /* border: 1px solid #000; */
  border: 1px solid var(--button-hover);
  outline: none;
  background-color: transparent;
  margin: 0;
  font-family: var(--sub-font);
  font-size: 1.875rem;
  cursor: pointer;
  overflow: hidden;
  z-index: 2;
  border-radius: 10px;

  position: relative;
}

#subscribe .subscribe-main-div button::after {
  content: "";
  width: 150%;
  height: 160%;
  position: absolute;
  bottom: -140px;
  background-color: var(--button-hover);
  transition: 0.5s;
  z-index: -1;
}

#subscribe .subscribe-main-div button:hover:after {
  bottom: -10%;
}

/*************************************************************************************************
Subscribe Section end
**************************************************************************************************/

/*************************************************************************************************
Police Welfare complaint Section start
**************************************************************************************************/

#police-welfare {
  /* border: 1px solid #fff; */
  width: 100%;
  min-height: 100dvh;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.police-welfare-image-div {
  /* border: 1px solid #f00; */
  width: 50%;
  height: 100%;
}

.police-welfare-image-div img {
  object-fit: contain;
  width: 75%;
  height: 75%;
}

#police-welfare .police-welfare-txt-main-div {
  /* border: 1px solid #f00; */
  width: 50%;
  height: 100%;
  padding-left: 2%;
}

#police-welfare .police-welfare-txt-main-div ul {
  /* border: 1px solid #fff; */
  font-size: 1.2rem;
  color: var(--white);
  font-family: var(--sub-font);
  margin-left: 30px;
}

#police-welfare .police-welfare-txt-main-div h1 {
  /* border: 1px solid #fff; */
  font-size: 3rem;
  color: var(--white);
  font-family: var(--main-font);
}

#police-welfare .police-welfare-txt-main-div a {
  margin-top: 20px;
  margin-left: 30px;
}
/*************************************************************************************************
Police Welfare Section end
**************************************************************************************************/

/*************************************************************************************************
Footer Section start
**************************************************************************************************/

#footer {
  /* border: 1px solid #fff; */
  width: 100%;
  min-height: 40dvh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 30px;
}

#footer img {
  /* border: 1px solid #fff; */
  width: 3.75rem;
}

#footer h2 {
  /* border: 1px solid #fff; */
  font-size: 1.5625rem;
  font-weight: 500;
  text-align: center;
  font-family: var(--main-font);
  color: var(--white);
  margin-bottom: 0.19rem;
}

#footer h1 {
  /* border: 1px solid #fff; */
  text-align: center;
  font-size: 3.125rem;
  font-weight: 500;
  font-family: var(--main-font);
  color: var(--white);
  margin-bottom: 0.19rem;
}

#footer h3 {
  /* border: 1px solid #fff; */
  font-size: 1.25rem;
  font-weight: 200;
  text-align: center;
  font-family: var(--main-font);
  color: var(--white);
  margin-bottom: 0.19rem;
}

#footer p {
  /* border: 1px solid #fff; */
  text-align: center;
  color: var(--white);
  font-family: var(--sub-font);
  font-size: 1rem;
  font-weight: 100;
  margin-bottom: 0.19rem;
}

.footer-social {
  /* border: 1px solid #fff; */
  display: flex;
  align-items: center;
  justify-content: center;
}

#footer div:last-child {
  /* border: 1px solid #fff; */
  border-top: 1px solid var(--gray);
  width: 100%;
  margin: 10px 0px;
  padding: 10px 0px;
}
/*************************************************************************************************
Footer Section end
**************************************************************************************************/
/*************************************************************************************************
Media for Desktop devices start 
**************************************************************************************************/

@media only screen and (max-width: 1440px) and (min-width: 1367px) {
  html {
    font-size: 20px;
  }
}

@media only screen and (max-width: 1600px) and (min-width: 1441px) {
  html {
    font-size: 21px;
  }
}

@media only screen and (max-width: 1680px) and (min-width: 1601px) {
  html {
    font-size: 21px;
  }
}

@media only screen and (max-width: 1920px) and (min-width: 1681px) {
  html {
    font-size: 25px;
  }
}

@media only screen and (max-width: 1365px) and (min-width: 1024px) {
  html {
    font-size: 13px;
  }
}
/*************************************************************************************************
Media for Desktop devices  end
**************************************************************************************************/

/*************************************************************************************************
Media for Tablet Small start
**************************************************************************************************/
@media only screen and (max-width: 834px) and (min-width: 600px) {
  html {
    font-size: 10px;
  }

  #hero {
    display: none;
  }

  #hero-small {
    /* border: 1px solid #f00; */
    width: 100%;
    max-height: 200dvh;
    min-height: 60dvh;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  #hero-small img {
    width: 20rem;
    margin: 2rem;
  }

  #hero-small h1 {
    font-size: 3.5rem;
    font-family: var(--main-font);
    color: var(--white);
  }

  #hero-small h2 {
    font-size: 2.5rem;
    font-family: var(--main-font);
    color: var(--white);
  }

  #hero-small h3 {
    font-size: 3rem;
    font-family: var(--main-font);
    color: var(--white);
    margin-bottom: 1rem;
  }

  #hero-small .fa-bars-staggered {
    /* border: 1px solid #fff; */
    color: var(--white);
    font-size: 5rem;
    cursor: pointer;
    transition: 0.5s;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  #message {
    /* border: 1px solid #fff; */
    min-height: auto;
    padding: 50px 0px;

    flex-direction: column;
  }

  #message .txt-div {
    /* border: 1px solid #fff; */
    width: 100%;
    text-align: center;
    text-align-last: center;
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  #message .txt-div h1 {
    font-size: 4rem;
    font-family: var(--main-font);
    color: var(--white);
  }

  #message .txt-div h2 {
    font-size: 2.25rem;
    font-family: var(--sub-font);
    color: var(--white);
  }

  #message .txt-div p {
    /* border: 1px solid #fff; */
    font-size: 2.125rem;
    font-family: var(--sub-font);
    font-weight: 100;
    color: var(--white);
    padding-top: 20px;
    width: 90%;
    text-align: justify;
  }

  #message .img-div {
    /* border: 1px solid #fff; */
    width: 90%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  #services {
    /* border: 1px solid #f00; */
    min-height: auto;
  }

  #services .service-div .service img {
    /* border: 1px solid #fff; */
    width: 8rem;
  }

  #speakup {
    /* border: 1px solid #fff; */
    width: 100%;
    min-height: auto;
    overflow: hidden;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  #latest-event {
    /* border: 1px solid #fff; */
    min-height: auto;
  }

  #wcpc-complaint {
    /* border: 1px solid #fff; */
    min-height: auto;
  }

  #police-welfare {
    /* border: 1px solid #f00; */
    min-height: 50dvh;
  }

  #subscribe {
    /* border: 1px solid #000; */
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  #subscribe .subscribe-main-div input {
    /* border: 1px solid #000; */
    margin-right: 20px;
  }

  #footer {
    /* border: 1px solid #fff; */
    width: 100%;
    min-height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 30px;
  }
}
/*************************************************************************************************
Media for Tablet Small end
**************************************************************************************************/

@media only screen and (max-width: 599px) and (min-width: 320px) {
  html {
    font-size: 5px;
  }

  #hero {
    display: none;
  }

  #hero-small {
    /* border: 1px solid #f00; */
    width: 100%;
    max-height: 200dvh;
    min-height: 60dvh;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  #hero-small img {
    width: 20rem;
    margin: 2rem;
  }

  #hero-small h1 {
    font-size: 5.5rem;
    font-family: var(--main-font);
    color: var(--white);
    text-align: center;
  }

  #hero-small h2 {
    font-size: 3.5rem;
    font-family: var(--main-font);
    color: var(--white);
    text-align: center;
  }

  #hero-small h3 {
    font-size: 4rem;
    font-family: var(--main-font);
    color: var(--white);
    margin-bottom: 1rem;
    text-align: center;
  }

  .social {
    /* border: 1px solid #000; */
    font-size: 3.1875rem;
    width: 6.125rem;
    height: 6.125rem;
    margin: 0.56rem;
  }

  #hero-small .fa-bars-staggered {
    /* border: 1px solid #fff; */
    color: var(--white);
    font-size: 5rem;
    cursor: pointer;
    transition: 0.5s;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  #message {
    /* border: 1px solid #fff; */
    min-height: auto;
    padding: 50px 0px;

    flex-direction: column;
  }

  #message .txt-div {
    /* border: 1px solid #fff; */
    width: 100%;
    text-align: center;
    text-align-last: center;
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  #message .txt-div h1 {
    font-size: 5.5rem;
    font-family: var(--main-font);
    color: var(--white);
  }

  #message .txt-div h2 {
    font-size: 4.25rem;
    font-family: var(--sub-font);
    color: var(--white);
  }

  #message .txt-div p {
    /* border: 1px solid #fff; */
    font-size: 3.125rem;
    font-family: var(--sub-font);
    font-weight: 100;
    color: var(--white);
    padding-top: 20px;
    width: 60.875rem;
    text-align: justify;
  }

  #message .img-div {
    /* border: 1px solid #fff; */
    width: 90%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  #services {
    /* border: 1px solid #f00; */
    min-height: auto;
    padding-top: 2rem;
  }

  #services h1 {
    /* border: 1px solid #fff; */
    font-size: 7.125rem;
  }

  #services .service-div .service {
    /* border: 1px solid #fff; */
    background-color: var(--light-blue);
    width: 55rem;
    height: 35.625rem;
    border-radius: 20px;
    margin-bottom: 2.38rem;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0px 40px;
  }

  #services .service-div .service img {
    /* border: 1px solid #fff; */
    width: 15rem;
  }

  #services .service-div .service h3 {
    font-size: 7rem;
    font-weight: 500;
    font-family: var(--sub-font);
    color: var(--white);
    text-align: center;
  }

  #services .service-div .service p {
    font-size: 3.5rem;
    font-weight: 300;
    font-family: var(--sub-font);
    text-align: center;
    color: var(--white);
  }

  #speakup {
    /* border: 1px solid #fff; */
    width: 100%;
    min-height: auto;
    overflow: hidden;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  #speakup .speakup-txt-main-div h1 {
    /* border: 1px solid #fff; */
    font-size: 5rem;
    color: var(--white);
    font-family: var(--main-font);
  }

  #speakup .speakup-txt-main-div h3 {
    /* border: 1px solid #fff; */
    font-size: 4rem;
    color: var(--white);
    font-family: var(--main-font);
    margin-left: 30px;
  }

  #speakup .speakup-txt-main-div ul {
    /* border: 1px solid #fff; */
    font-size: 2.5rem;
    color: var(--white);
    font-family: var(--sub-font);
    margin-left: 30px;
  }

  #speakup .speakup-txt-main-div a {
    margin-left: 30px;
    margin-top: 10px;
    padding: 5px;
    font-size: 2rem;
  }

  #latest-event {
    /* border: 1px solid #fff; */
    min-height: auto;
  }

  #latest-event h1 {
    /* border: 1px solid #fff; */
    font-size: 8rem;
  }

  #latest-event .event-div .event {
    /* border: 1px solid #fff; */
    background-color: var(--light-blue);
    width: 60rem;
    height: 40.875rem;
    border-radius: 1.25rem;
    cursor: pointer;
    transition: 0.5s;
    margin: 10px;
    overflow: hidden;
  }

  #latest-event .event-div .event img {
    width: 100%;
  }

  #latest-event .event-div .event .event-txt-div {
    /* border: 1px solid #f00; */
    height: 10rem;
    width: 100%;
    border-radius: 0rem 0rem 1.25rem 1.25rem;
    color: var(--white);
    font-family: var(--sub-font);
    text-align: center;
    font-size: 3rem;
  }

  #wcpc-complaint {
    /* border: 1px solid #fff; */
    min-height: auto;
  }

  #wcpc-complaint .wcpc-txt-main-div p {
    /* border: 1px solid #fff; */
    font-size: 2rem;
    width: 30rem;
    color: var(--white);
    font-family: var(--sub-font);
  }

  #wcpc-complaint .wcpc-txt-main-div h1 {
    /* border: 1px solid #fff; */
    font-size: 5rem;
    color: var(--white);
    font-family: var(--main-font);
  }

  #wcpc-complaint .wcpc-txt-main-div h3 {
    /* border: 1px solid #fff; */
    font-size: 3rem;
    color: var(--white);
    font-family: var(--main-font);
  }

  #wcpc-complaint .wcpc-txt-main-div a {
    margin-top: 20px;
    padding: 5px;
    font-size: 2rem;
  }

  #police-welfare {
    /* border: 1px solid #f00; */
    min-height: auto;
  }

  .police-welfare-image-div {
    /* border: 1px solid #f00; */
    width: 40%;
    height: 100%;
  }

  #police-welfare .police-welfare-txt-main-div {
    /* border: 1px solid #f00; */
    width: 60%;
    height: 100%;
    padding-left: 2%;
  }

  #police-welfare .police-welfare-txt-main-div ul {
    /* border: 1px solid #fff; */
    font-size: 1.8rem;
    margin-left: 10px;
  }

  #police-welfare .police-welfare-txt-main-div h1 {
    /* border: 1px solid #fff; */
    font-size: 3.5rem;
  }

  #police-welfare .police-welfare-txt-main-div a {
    padding: 5px auto;
    font-size: 2.5rem;
  }

  #subscribe {
    /* border: 1px solid #000; */
    height: auto;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  #subscribe .subscribe-main-div form {
    width: 100%;
    height: 100%;
    padding: 6px;
  }

  #subscribe .subscribe-main-div input {
    width: 100rem;
    height: 3.5rem;
    border-radius: 0.625rem;
    border: none;
    outline: none;
    font-family: Inter;
    font-size: 2rem;
    padding-left: 10px;
    margin-right: 10px;
  }

  #subscribe .subscribe-main-div button {
    /* border: 1px solid #000; */
    border: 1px solid var(--button-hover);
    outline: none;
    background-color: transparent;
    margin: 0;
    font-family: var(--sub-font);
    font-size: 1.875rem;
    cursor: pointer;
    overflow: hidden;
    z-index: 2;
    border-radius: 10px;
    padding: 5px 30px;

    position: relative;
  }

  #footer {
    /* border: 1px solid #fff; */
    width: 100%;
    min-height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 30px;
  }

  #footer img {
    /* border: 1px solid #fff; */
    width: 15rem;
  }

  #footer h1 {
    /* border: 1px solid #fff; */
    text-align: center;
    font-size: 4rem;
    font-weight: 500;
    font-family: var(--main-font);
    color: var(--white);
    margin-bottom: 0.19rem;
  }

  #footer h2 {
    /* border: 1px solid #fff; */
    font-size: 5rem;
    font-weight: 500;
    text-align: center;
    font-family: var(--main-font);
    color: var(--white);
    margin-bottom: 0.19rem;
  }

  #footer h3 {
    /* border: 1px solid #fff; */
    font-size: 3rem;
    font-weight: 200;
    text-align: center;
    font-family: var(--main-font);
    color: var(--white);
    margin-bottom: 0.19rem;
  }

  #footer p {
    /* border: 1px solid #fff; */
    text-align: center;
    color: var(--white);
    font-family: var(--sub-font);
    font-size: 2.5rem;
    font-weight: 100;
    margin-bottom: 0.19rem;
  }

  .hamburger-container ul a li {
    /* border: 1px solid #fff; */
    font-size: 4rem;
    text-align: center;
  }

  .hamburger-container .fa-xmark {
    /* border: 1px solid #fff; */
    font-size: 4rem;
  }
}
